h1 {
    text-align: center;
    color: red
}

.galleryPictureAndTextElement img {
  width: 100%;
  height: auto;
}

.description {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.title {
  padding-left: 10px;
  color: blue;
}

.galleryPictureAndTextElement {
  padding: 0 6px;
  float: left;
  width: 30%;
  margin-bottom: 50px;
}